{% extends 'base.html'%} {% block title%} Film- {{film.title}} {% endblock%} {% block content %}
<h2>This is the filmlist</h2>

<div class='row'>


    <ul class="list-group">
        <li class="list-group-item">Name: {{object.title}}</li>
        <li class="list-group-item">Release Date: {{object.release_date}}</li>
        <li class="list-group-item">Release Country: {{object.country.country}}</li>
        <li class="list-group-item">Speed: {{object.category.category_name}}</li>
        <li class="list-group-item">Director: {{object.Director.director}}</li>
        <li class="list-group-item">
            Sibilings:
            <ul class="list-group">
                {% for sib in object.director.film_set.all %}
                <li class="list-group-item">{{sib.director}}</li>
                {% endfor %}
            </ul>

        </li>

    </ul>

</div>

</div>
{% endblock %}